@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
p {
  /* margin-bottom: 15px; */
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

/* END OF RESET */

.orange {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

.blue {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.green {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}

.container {
    width: 830px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.content{
    padding: 3rem;
    color: white;
    height: 100%;
    
}

.content img{
    height: 35px;
}

.content h1{
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
    margin: 1rem 0;
    font-size: 2.3rem;

}

.content p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .95rem;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}

footer {
    position: absolute;
    bottom: 20px;
}

.button {
    background: white;
    border: 2px solid white;
    padding: 10px 20px ;
    border-radius: 20px;
    transition: 2ms;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 4rem;
}

.button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

@media (max-width: 756px) {

    .container {
        display: block;
        width: 350px;
        height: max-content;
    }

    .button {
        margin-top: 2rem;
    }

    footer{
        display: none;
    }
}