@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}
* > div {
  transition: all 1s;
}

body {
  min-height: 100%;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: white;
  font-size: 20px;
  background-repeat: no-repeat;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}
/*

### Primary

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)
*/

/* MAIN HEADER */

.main-header {
  margin: 0 auto;
  margin-top: 2rem;
  width: clamp(350px, 60vw, 800px);
  /* border: 1px solid red; */
  border: 4px solid hsl(217, 16%, 45%);
  border-radius: 1em;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

h1 {
  font-size: clamp(24px, 4vw, 48px);
  line-height: 0.8em;
}

.score {
  height: 80%;
  border-radius: 10px;
  background-color: white;
  padding: 2% 4%;
  color: hsl(229, 64%, 46%);
  text-align: center;
  /* height: clamp(4rem, 60vw, 8rem); */
}

.score h2 {
  font-size: clamp(8px, 4vw, 16px);
  letter-spacing: 0.5em;
}

.score p {
  color: hsl(229, 25%, 31%);
  font-size: clamp(16px, 8vw, 60px);
}

/* CARD STYLES */
.paper {
  background: url(../images/icon-paper.svg), white;
}
.scissor {
  background: url(../images/icon-scissors.svg), white;
}
.rock {
  background: url(../images/icon-rock.svg), white;
}

.paper,
.scissor,
.rock {
  /* background-color: white; */
  border-radius: 100%;
  height: clamp(80px, 22vw, 180px);
  aspect-ratio: 1/1;
  /* margin: 2rem; */
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1),
    box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-position: center;
  background-repeat: no-repeat;
}

/* STYLES FOR CARD BORDERS */

.paper {
  border: 0.5rem solid red;
}

.scissor {
  border: 0.5rem solid red;
}

.rock {
  border: 0.5rem solid red;
}

/* GAME START STYLES */

.game-start {
  background-image: url("../images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;

  margin: 0 auto;
  width: clamp(150px, 60vw, 450px);
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 2;
}

.game-start > .paper {
  justify-self: start;
  /* border: 0.5rem solid red; */
}

.game-start > .scissor {
  justify-self: end;
  /* border: 0.5rem solid red;*/
}

.game-start > .rock {
  grid-column: 1 / span 2;
  align-items: center;
  justify-self: center;
  /* border: 0.5rem solid red; */
}

.paper:hover,
.scissor:hover,
.rock:hover {
  transform: scale(1.1);
  transform-origin: center center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
  transition: all 5ms;
}

/* GAME WINNER STYLES */
.selection > .paper,
.selection > .scissor,
.selection > .rock {
  /* background-color: white; */
  /* height: clamp(120px, 30vw, 200px); */
  margin: 0 auto;
  margin-top: 3rem;
  height: clamp(120px, 30vw, 200px);
}

.pick-container {
  margin: 0 auto;
  width: clamp(350px, 65vw, 1000px);
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.pick-container h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.game-winner {
  /* border: 1px solid red; */
  margin: 2rem 0;
  padding: 4rem;
  min-width: 150px;
  text-align: center;
  font-size: 4rem;
}

.game-winner h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

.selection {
  /* width: 200px; */
  /* height: 400px; */
  text-align: center;
}
/* MODAL RULES STYLES */

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-content: center;
}

.overlay h3 {
  color: grey;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.modal-rules {
  margin: 0 auto;
  background-color: white;
  min-width: 500px;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.modal-rules > .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-rules .close {
  background-color: transparent;
  border: none;
}

/* FOOTER STYLES */
.rules {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.play-btn {
  padding: 0.75rem 2.5rem;
  font-size: 1.15rem;
  background-color: white;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
}

.play-btn:hover {
  color: red;
}

.rules-btn {
  padding: 0.75rem 2.5rem;
  font-size: 1.15rem;
  color: white;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rules-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

footer {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 650px) {
  /* footer {
    position: relative;
  }

  .rules {
    display: inline-block;
    position: relative;
    margin: 50px auto;
  } */
}
